<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694852617433-1st5mi5oi62vuh2avutn60ck8d1ppeti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694852617433-1st5mi5oi62vuh2avutn60ck8d1ppeti</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>694852617433-5ph8v5ar9aol6ml80f3vqe2abhmupeqm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCd9_IdlfQD1_3bLbhLUVqv1Jb-2pmnlYU</string>
	<key>GCM_SENDER_ID</key>
	<string>694852617433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiffinApp</string>
	<key>PROJECT_ID</key>
	<string>after4exam</string>
	<key>STORAGE_BUCKET</key>
	<string>after4exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694852617433:ios:bbd83771e9f2d59f41eac8</string>
	<key>DATABASE_URL</key>
	<string>https://after4exam.firebaseio.com</string>
</dict>
</plist>